@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 245, 245, 245;
  --foreground-rgb: 38, 38, 38;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  @apply antialiased;
}

/* Custom Scrollbar for a cleaner look */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}